@font-face {
	font-family: logo-font;
	src: url(./fonts/Amatic-Bold.ttf);
}

:root {
	font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 24px;
	--panel-color: rgba(53, 45, 57, 0.6);
	--form-color: rgba(156,175,183, 0.6);
}

/* CSS reset courtesy of Josh W Comeau at https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
	interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Original CSS */
.container {
	display: flex;
	height: 100vh;
	background-image: url(./images/compressed_image.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}

.panel {
	background-color: var(--panel-color);
}

.left {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	margin-top: max(20vh, 5rem);
	height: max(20vh, 5rem);
	width: 40%;
}

.left img {
	height: 90%;
}

.title {
	font-family: logo-font, sans-serif;
	font-size: clamp(1rem, 10vw, 5rem);
	color: white;
}

.right {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 60%;
}

.top {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 40vh;
	min-height: 10rem;
}

.middle {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	height: 40vh;
	min-height: 330px;
	background-color: var(--form-color);
	box-shadow: black 5px 10px;
}

.middle > h1 {
	margin-top: 0.5rem;
}

.bottom {
	height: max(20vh, 5rem);
}

.column {
	display: flex;
	flex-direction: column;
}


form {
	display: flex;
	gap: 5rem;
	margin-left: 2rem;
}

label {
	font-size: 0.5rem;
	letter-spacing: 2px;
}

input {
	margin-bottom: 1.5rem;
	background-color: transparent;
	border-top: transparent;
	border-left: transparent;
	border-right: transparent;
	border-bottom: 2px solid black;
}

button {
	margin-top: 2rem;
	margin-left: 2rem;
}

h1 {
	color: #DBF4A7;
	margin-left: 2rem;
	font-size: clamp(0.5rem, 2vw, 3rem);
}
